<a href="https://colab.research.google.com/github/mwahajkhan/Python-For-Data-Engineering/blob/main/Employee_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
class Employee:
  def __init__ (self, name, position, salary):
    self.name = name
    self.position = position
    self.salary = salary

  def display_info(self):
    return f"{self.name} is a {self.position} earning ${self.salary} annually,"

In [5]:
employee1 = Employee("John Doe", "Manager", 75000)
employee2 = Employee("Jane Smith", "Developer", 60000)

print(employee1.display_info())

John Doe is a Manager earning $75000 annually,

In [10]:
employee1.salary = 100000

print(employee1.display_info())

John Doe is a Manager earning $100000 annually,